.main{
    width: 100vw;
    
    .mainHero{
        width: 100%;
        height: 100vh;
        background-image: url(../../images/mobile-hero-bg.jpg);
        background-size: cover;
        background-position: right;
        padding: 135px 30px 0 30px;
        
        .heroContent{

            .heroTitle{
                h1{
                    color: #ffffff;
                    font-size: 36px;
                    margin-bottom: 12px;
                }
            }

            .heroText{
                p{
                    color: #ffffff;
                    font-weight: 300;
                    line-height: 1.5;
                    margin-bottom: 72px;
                }
            }
        }

        .heroSearch{
            width: 100%;

            input{
                outline-style: none;
                border: none;
                border-radius: 25px;
                width: 100%;
                height: 50px;
                padding: 0 20px 0 44px;
                color: #ffffff;
                font-size: 17px;
                background: #1E3E7B;
                background-image: url(../../images/icon-search.svg);
                background-repeat: no-repeat;
                background-position: 20px;
                background-size: 12px;
            } ::placeholder{
                font-size: 17px;
                color: #8D9DA2;
                opacity: 0.57;
            }
        }
    } @media screen and(min-width: 550px) {
        .mainHero{
            padding: 180px 50px 0 50px;

            .heroContent{

                .heroTitle{
                    width: 450px;
                    h1{
                        color: #ffffff;
                        font-size: 36px;
                        margin-bottom: 12px;
                    }
                }
    
                .heroText{
                    width: 350px;
                    p{
                        color: #ffffff;
                        font-weight: 300;
                        line-height: 1.5;
                        margin-bottom: 72px;
                    }
                }
            }
        }
    }
    @media screen and(min-width: 1024px) {
        .mainHero{
            padding: 250px 140px 0 140px;
            background-image: url(../../images/hero-bg.jpg);
            background-position: right;

            .heroContent{
                
                .heroTitle{
                    width: 804px;

                    h1{
                        font-size: 75px;
                        margin-bottom: 28px;
                        line-height: 1;
                    }
                }
    
                .heroText{
                    width: 608px;

                    p{
                        font-size: 30px;
                        margin-bottom: 190px;
                    }
                }
            }

            .heroSearch{
                max-width: 1000px;
                margin: 0 auto;

                input{
                    height: 120px;
                    border-radius: 60px;
                    font-size: 50px;
                    padding: 0 60px 0 127px;
                    background-size: 30px;
                    background-position: 60px;
                } ::placeholder{
                    font-size: 50px;
                }
            }
        }
    }

    .mainPosts{
        width: 100vw;
        background: #061649;
        padding: 0 140px 0 140px;

        .postsContent{
            width: 100%;
            margin: 0 auto;

            .postSearchedTitle{
                width: 100%;
                text-align: center;
                margin-bottom: 100px;

                h2{
                    font-size: 32px;
                    color: #ffffff;
                    font-weight: 400;
                    letter-spacing: 1.6px;
                }
            }

            .postResults{
                width: 100%;

                .postResultsImages{
                    width: 38%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    padding-bottom: 120px;
    
                    .imageContainer{
                        width: 45%;
                        position: relative;

                        p{
                            color: #ffffff;
                            position: absolute;
                            text-shadow: 0px 0px 10px rgba(0,0,0,1);
                            left: 20px;
                        }
    
                        :nth-child(2){
                            font-size: 17px;
                            bottom: 80px;
                            font-weight: 300;
                        }
    
                        :nth-child(3){
                            font-size: 21px;
                            bottom: 50px;
                        }

                        .imageContent{
                            width: 100%;
                            padding-bottom: 100%;
                            border-radius: 21px;
                            background-size: cover;
                            background-position: center;
                            margin-bottom: 37px;
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }
}