@charset "UTF-8";
/*Estilização do component main*/
.main {
  width: 100vw;
}

.main .backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}

.main .modalContainer {
  width: 80vw;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  position: fixed;
  left: 10vw;
  top: 120px;
  border-radius: 30px;
}

.main .modalContainer .modalContent {
  width: 100%;
  padding-bottom: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  position: relative;
}

.main .modalContainer .modalContent .close {
  position: absolute;
  font-size: 25px;
  font-weight: bold;
  color: #72EFDB;
  top: 15px;
  right: 20px;
  text-shadow: 0px 0px 10px black;
}

@media screen and (min-width: 1024px) {
  .main .modalContainer {
    width: 60vw;
    left: 20vw;
  }
}

@media screen and (min-width: 1600px) {
  .main .modalContainer {
    width: 50vw;
    left: 25vw;
  }
}

@media screen and (min-width: 1920px) {
  .main .modalContainer {
    width: 40vw;
    left: 30vw;
  }
}

.main .mainHero {
  width: 100%;
  height: 90vh;
  background-image: url(../../images/hero-bg.jpg);
  background-size: cover;
  background-position: right;
  padding: 135px 30px 0 30px;
}

.main .mainHero .heroContent .heroTitle h1 {
  color: #ffffff;
  font-size: 36px;
  margin-bottom: 12px;
}

.main .mainHero .heroContent .heroText p {
  color: #ffffff;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 72px;
}

.main .mainHero .heroSearch {
  width: 100%;
}

.main .mainHero .heroSearch input {
  outline-style: none;
  border: none;
  border-radius: 25px;
  width: 100%;
  height: 50px;
  padding: 0 20px 0 44px;
  color: #ffffff;
  font-size: 17px;
  background: #1E3E7B;
  background-image: url(../../images/icon-search.svg);
  background-repeat: no-repeat;
  background-position: 20px;
  background-size: 12px;
}

.main .mainHero .heroSearch ::placeholder {
  font-size: 17px;
  color: #8D9DA2;
  opacity: 0.57;
}

@media screen and (min-width: 550px) {
  .main .mainHero {
    padding: 180px 50px 0 50px;
  }
  .main .mainHero .heroContent .heroTitle {
    width: 450px;
  }
  .main .mainHero .heroContent .heroTitle h1 {
    color: #ffffff;
    font-size: 36px;
    margin-bottom: 12px;
  }
  .main .mainHero .heroContent .heroText {
    width: 350px;
  }
  .main .mainHero .heroContent .heroText p {
    color: #ffffff;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 1024px) {
  .main .mainHero {
    padding: 23vh 7vw 0 7vw;
    background-image: url(../../images/hero-bg.jpg);
    background-position: right;
  }
  .main .mainHero .heroContent .heroTitle {
    width: 600px;
  }
  .main .mainHero .heroContent .heroTitle h1 {
    font-size: 60px;
    margin-bottom: 28px;
    line-height: 1;
  }
  .main .mainHero .heroContent .heroText {
    width: 550px;
  }
  .main .mainHero .heroContent .heroText p {
    font-size: 25px;
    margin-bottom: 17vh;
  }
  .main .mainHero .heroSearch {
    max-width: 900px;
    margin: 0 auto;
  }
  .main .mainHero .heroSearch input {
    height: 80px;
    border-radius: 60px;
    font-size: 50px;
    font-weight: 400;
    padding: 0 60px 0 100px;
    background-size: 25px;
    background-position: 60px;
  }
  .main .mainHero .heroSearch ::placeholder {
    font-size: 40px;
  }
}

.main .mainPosts {
  width: 100vw;
  background: #09194e;
  background: linear-gradient(90deg, #0b1a51 0%, #061649 100%);
  padding: 0 140px 0 140px;
}

.main .mainPosts .postsContent {
  width: 100%;
  margin: 0 auto;
}

.main .mainPosts .postsContent .postSearchedTitle {
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}

.main .mainPosts .postsContent .postSearchedTitle h2 {
  font-size: 32px;
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 1.6px;
}

.main .mainPosts .postsContent .postResultSelect {
  display: none;
}

.main .mainPosts .postsContent .postResultChoice {
  display: none;
}

.main .mainPosts .postsContent .postResults {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main .mainPosts .postsContent .postResults .postResultsImages {
  width: 38%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 120px;
}

.main .mainPosts .postsContent .postResults .postResultsImages .imageContainer {
  width: 46%;
  position: relative;
}

.main .mainPosts .postsContent .postResults .postResultsImages .imageContainer .textContent {
  position: absolute;
  bottom: 40px;
  left: 10px;
}

.main .mainPosts .postsContent .postResults .postResultsImages .imageContainer .textContent p {
  color: #ffffff;
  text-shadow: 0px 0px 10px black;
}

.main .mainPosts .postsContent .postResults .postResultsImages .imageContainer .textContent :nth-child(1) {
  font-size: 1vw;
  font-weight: 300;
}

.main .mainPosts .postsContent .postResults .postResultsImages .imageContainer .textContent :nth-child(2) {
  font-size: 1.2vw;
}

.main .mainPosts .postsContent .postResults .postResultsImages .imageContainer .imageContent {
  width: 100%;
  padding-bottom: 100%;
  border-radius: 21px;
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
  opacity: 0.7;
}

.main .mainPosts .postsContent .postResults .postResultsText {
  width: 55%;
  padding-bottom: 120px;
}

.main .mainPosts .postsContent .postResults .postResultsText .textContainer {
  width: 100%;
  height: 230px;
  background: #0c1b49;
  border: 1px solid #1e2c56;
  border-radius: 15px;
  padding: 50px;
  margin-bottom: 40px;
}

.main .mainPosts .postsContent .postResults .postResultsText .textContainer .userInfos {
  width: 100%;
  height: 100%;
  display: flex;
}

.main .mainPosts .postsContent .postResults .postResultsText .textContainer .userInfos .userThumb {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-size: cover;
  background-position: center;
  margin-right: 25px;
}

.main .mainPosts .postsContent .postResults .postResultsText .textContainer .userInfos .userText {
  width: 80%;
  color: #ffffff;
  letter-spacing: 0.23px;
}

.main .mainPosts .postsContent .postResults .postResultsText .textContainer .userInfos .userText :nth-child(1) {
  margin-bottom: 5px;
  font-size: 1.4vw;
}

.main .mainPosts .postsContent .postResults .postResultsText .textContainer .userInfos .userText :nth-child(1) span {
  font-size: 1vw;
  opacity: 0.4;
}

.main .mainPosts .postsContent .postResults .postResultsText .textContainer .userInfos .userText :nth-child(2) {
  font-size: 1vw;
}

.main .mainPosts .postsContent .postResults .postResultsText .textContainer .seeMore {
  padding-left: 105px;
}

.main .mainPosts .postsContent .postResults .postResultsText .textContainer .seeMore a {
  text-decoration: none;
  color: #72EFDB;
  font-size: 1vw;
}

@media screen and (max-width: 1023px) {
  .main .mainPosts {
    padding: 0 50px 0 50px;
  }
  .main .mainPosts .postsContent .postSearchedTitle {
    display: none;
  }
  .main .mainPosts .postsContent .postResultSelect {
    display: block;
    width: 100%;
    display: flex;
    margin-bottom: 50px;
  }
  .main .mainPosts .postsContent .postResultSelect div {
    width: 50%;
    text-align: center;
    border-bottom: 2px solid #1e2c56;
    padding: 5px 0;
    opacity: 0.5;
    transition: opacity 2s ease-out;
  }
  .main .mainPosts .postsContent .postResultSelect div p {
    color: #ffffff;
    transition: opacity 2s ease-out;
  }
  .main .mainPosts .postsContent .postResultSelect .active {
    border-bottom: 2px solid #72EFDB;
    opacity: 1;
    transition: opacity 2s ease-out;
  }
  .main .mainPosts .postsContent .postResultSelect .active p {
    color: #72EFDB;
    transition: opacity 2s ease-out;
  }
  .main .mainPosts .postsContent .postResults {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .main .mainPosts .postsContent .postResults .postResultsImages {
    display: none;
    width: 100%;
  }
  .main .mainPosts .postsContent .postResults .postResultsImages .imageContainer .textContent :nth-child(1) {
    font-size: 12px;
  }
  .main .mainPosts .postsContent .postResults .postResultsImages .imageContainer .textContent :nth-child(2) {
    font-size: 14px;
  }
  .main .mainPosts .postsContent .postResults .postResultsText {
    width: 100%;
    padding-bottom: 120px;
    display: block;
  }
  .main .mainPosts .postsContent .postResults .postResultsText .textContainer {
    width: 100%;
    height: 180px;
    padding: 20px 15px;
    margin-bottom: 20px;
  }
  .main .mainPosts .postsContent .postResults .postResultsText .textContainer .userInfos {
    height: 80%;
  }
  .main .mainPosts .postsContent .postResults .postResultsText .textContainer .userInfos .userThumb {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-right: 20px;
  }
  .main .mainPosts .postsContent .postResults .postResultsText .textContainer .userInfos .userText {
    width: 80%;
  }
  .main .mainPosts .postsContent .postResults .postResultsText .textContainer .userInfos .userText :nth-child(1) {
    font-size: 12px;
  }
  .main .mainPosts .postsContent .postResults .postResultsText .textContainer .userInfos .userText :nth-child(1) span {
    font-size: 8px;
  }
  .main .mainPosts .postsContent .postResults .postResultsText .textContainer .userInfos .userText :nth-child(2) {
    font-size: 12px;
  }
  .main .mainPosts .postsContent .postResults .postResultsText .textContainer .seeMore {
    padding-left: 80px;
  }
  .main .mainPosts .postsContent .postResults .postResultsText .textContainer .seeMore a {
    font-size: 10px;
  }
}

@media screen and (max-width: 550px) {
  .main .mainPosts {
    padding: 0 30px 0 30px;
  }
  .main .mainPosts .postsContent .postResults .postResultsText .textContainer .userInfos .userText {
    width: 70%;
  }
}
