.main{
    width: 100vw;
    
    .mainHero{
        width: 100%;
        height: 90vh;
        background-image: url(../../images/hero-bg.jpg);
        background-size: cover;
        background-position: right;
        padding: 135px 30px 0 30px;
        
        .heroContent{

            .heroTitle{
                h1{
                    color: #ffffff;
                    font-size: 36px;
                    margin-bottom: 12px;
                }
            }

            .heroText{
                p{
                    color: #ffffff;
                    font-weight: 300;
                    line-height: 1.5;
                    margin-bottom: 72px;
                }
            }
        }

        .heroSearch{
            width: 100%;

            input{
                outline-style: none;
                border: none;
                border-radius: 25px;
                width: 100%;
                height: 50px;
                padding: 0 20px 0 44px;
                color: #ffffff;
                font-size: 17px;
                background: #1E3E7B;
                background-image: url(../../images/icon-search.svg);
                background-repeat: no-repeat;
                background-position: 20px;
                background-size: 12px;
            } ::placeholder{
                font-size: 17px;
                color: #8D9DA2;
                opacity: 0.57;
            }
        }
    } 
    @media screen and(min-width: 550px) {
        .mainHero{
            padding: 180px 50px 0 50px;

            .heroContent{

                .heroTitle{
                    width: 450px;
                    h1{
                        color: #ffffff;
                        font-size: 36px;
                        margin-bottom: 12px;
                    }
                }
    
                .heroText{
                    width: 350px;
                    p{
                        color: #ffffff;
                        font-weight: 300;
                        line-height: 1.5;
                        margin-bottom: 72px;
                    }
                }
            }
        }
    }
    @media screen and(min-width: 1024px) {
        .mainHero{
            padding: 23vh 7vw 0 7vw;
            background-image: url(../../images/hero-bg.jpg);
            background-position: right;

            .heroContent{
                
                .heroTitle{
                    width: 600px;

                    h1{
                        font-size: 60px;
                        margin-bottom: 28px;
                        line-height: 1;
                    }
                }
    
                .heroText{
                    width: 550px;

                    p{
                        font-size: 25px;
                        margin-bottom: 17vh;
                    }
                }
            }

            .heroSearch{
                max-width: 900px;
                margin: 0 auto;

                input{
                    height: 80px;
                    border-radius: 60px;
                    font-size: 50px;
                    font-weight: 400;
                    padding: 0 60px 0 100px;
                    background-size: 25px;
                    background-position: 60px;
                } ::placeholder{
                    font-size: 40px;
                }
            }
        }
    }

    .mainPosts{
        width: 100vw;
        background: rgb(9,25,78);
        background: linear-gradient(90deg, rgba(11,26,81,1) 0%, rgba(6,22,73,1) 100%);
        padding: 0 140px 0 140px;

        .postsContent{
            width: 100%;
            margin: 0 auto;

            .postSearchedTitle{
                width: 100%;
                text-align: center;
                margin-bottom: 100px;

                h2{
                    font-size: 32px;
                    color: #ffffff;
                    font-weight: 400;
                    letter-spacing: 1.6px;
                }
            }

            .postResultSelect{
                display: none;
            }

            .postResultChoice{
                display: none;
            }

            .postResults{
                width: 100%;
                display: flex;
                justify-content: space-between;

                .postResultsImages{
                    width: 38%;
                    height: max-content;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: flex-start;
                    padding-bottom: 120px;
    
                    .imageContainer{
                        width: 46%;
                        position: relative;

                        .textContent{
                            position: absolute;
                            bottom: 40px;
                            left: 10px;

                            p{
                                color: #ffffff;
                                text-shadow: 0px 0px 10px rgba(0,0,0,1);
                            }

                            :nth-child(1){
                                font-size: 1vw;
                                font-weight: 300;
                            }
                            :nth-child(2){
                                font-size: 1.2vw;
                            }
                        }
    
                        .imageContent{
                            width: 100%;
                            padding-bottom: 100%;
                            border-radius: 21px;
                            background-size: cover;
                            background-position: center;
                            margin-bottom: 30px;
                            opacity: 0.7;
                        }
                    }
                }

                .postResultsText{
                    width: 55%;
                    padding-bottom: 120px;

                    .textContainer{
                        width: 100%;
                        height: 230px;
                        background: #0c1b49;
                        border: 1px solid #1e2c56;
                        border-radius: 15px;
                        padding: 50px;
                        margin-bottom: 40px;

                        .userInfos{
                            width: 100%;
                            height: 100%;
                            display: flex;

                            .userThumb{
                                width: 80px;
                                height: 80px;
                                border-radius: 40px;
                                background-size: cover;
                                background-position: center;
                                margin-right: 25px;
                            }

                            .userText{
                                width: 80%;
                                color: #ffffff;
                                letter-spacing: 0.23px;

                                :nth-child(1){
                                    margin-bottom: 5px;
                                    font-size: 1.4vw;

                                    span{
                                        font-size: 1vw;
                                        opacity: 0.4;
                                    }
                                }
                                :nth-child(2){
                                    font-size: 1vw;
                                }
                            }
                        }

                        .seeMore{
                            padding-left: 105px;

                            a{
                                text-decoration: none;
                                color: #72EFDB;
                                font-size: 1vw;
                            }
                        }
                    }
                }
            }
        }
    }
    @media screen and(max-width: 1023px) {
        .mainPosts{
            padding: 0 50px 0 50px;

            .postsContent{
    
                .postSearchedTitle{
                    display: none;
                }

                .postResultSelect{
                    display: block;
                    width: 100%;
                    display: flex;
                    margin-bottom: 50px;

                    div{
                        width: 50%;
                        text-align: center;
                        border-bottom: 2px solid #1e2c56;
                        padding: 5px 0;
                        opacity: 0.5; 
                        transition: opacity 3s ease-out;

                        p{
                            color: #ffffff;
                            transition: opacity 3s ease-out;
                        }
                    }

                    .active{
                        border-bottom: 2px solid #72EFDB;
                        opacity: 1;
                        transition: opacity 3s ease-out;

                        p{
                            color: #72EFDB;
                            transition: opacity 3s ease-out;
                        }
                    }
                }
    
                .postResults{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
    
                    .postResultsImages{
                        display: none;
                        width: 100%;
        
                        .imageContainer{
    
                            .textContent{
    
                                :nth-child(1){
                                    font-size: 12px;
                                }
                                :nth-child(2){
                                    font-size: 14px;
                                }
                            }
                        }
                    }
    
                    .postResultsText{
                        width: 100%;
                        padding-bottom: 120px;
                        display: block;
    
                        .textContainer{
                            width: 100%;
                            height: 150px;
                            padding: 20px 15px;
                            margin-bottom: 20px;
    
                            .userInfos{
                                height: 80%;
    
                                .userThumb{
                                    width: 60px;
                                    height: 60px;
                                    border-radius: 30px;
                                    margin-right: 20px;
                                }
    
                                .userText{
                                    width: 80%;
    
                                    :nth-child(1){
                                        font-size: 12px;
    
                                        span{
                                            font-size: 8px;
                                        }
                                    }
                                    :nth-child(2){
                                        font-size: 12px;
                                    }
                                }
                            }
    
                            .seeMore{
                                padding-left: 80px;
    
                                a{
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media screen and(max-width: 550px) {
        .mainPosts{
            padding: 0 30px 0 30px;

            .postsContent{    
                .postResults{

                    .postResultsText{
    
                        .textContainer{
    
                            .userInfos{
    
                                .userText{
                                    width: 70%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}