//Container que engloba todos os conteúdos da página
.aboutContainer{
    width: 100%;
    padding: 80px 0px 0px;
    
    
    //Conteudo dentro do container about
    .aboutContent{
        width: 100%;
        //Container dos textos - Tittle e text
        .sobreProjeto{
            background: transparent linear-gradient(180deg, #102674 0%, #0A1744 100%) 0% 0% no-repeat padding-box;
            padding: 45px 26px 0px;
            width: 100%;
            .sobreProjetoText{
                .sobreProjetoTittle{
                    margin-bottom: 31px;
                    font-size: 1.938rem;
                    color: #fff;
                    font-weight: bold;
                }
                .sobreProjetoText{
                    font-size: 0.938rem;
                    color: #fff;
                    line-height: 1.8;
                }
            }
            .sobreProjetoImg{
                margin-top: 57px;
                img{
                    width: 100%;
                    
                }
            }
        }
        //responsivo do container about
        @media screen and (min-width: 768px) and (max-width: 1024px) {
            .sobreProjeto{
                padding: 45px 100px 0px;
                .sobreProjetoText{
                    .sobreProjetoTittle{
                        margin-bottom: 31px;
                        font-size: 3rem;
                        color: #fff;
                        font-weight: bold;
                    }
                    .sobreProjetoText{
                        font-size: 1.5rem;
                        color: #fff;
                        line-height: 1.8;
                    }
                }
                .sobreProjetoImg{
                    margin-top: 57px;
                    img{
                        width: 100%;
                        
                    }
                }
            }
        }
        //responsivo do container about
        @media screen and (min-width: 1025px) {
            .sobreProjeto{
                padding: 45px 140px 0px 156px;
                display: flex;
                justify-content: space-between;
                .sobreProjetoText{
                    width: 55%;
                    .sobreProjetoTittle{
                        width: 100%;
                        margin-bottom: 31px;
                        font-size: 2rem;
                        color: #fff;
                        font-weight: bold;
                    }
                    .sobreProjetoText{
                        width: 100%;
                        font-size: 1rem;
                        color: #fff;
                        line-height: 1.8;
                    }
                    @media screen and (min-width: 1440px){
                        .sobreProjetoTittle{
                            font-size: 3rem;
                        }
                        .sobreProjetoText{
                            font-size: 1.5rem;
                        }
                    }
                    @media screen and (min-width:1441px){
                        .sobreProjetoTittle{
                            font-size: 4.5rem;
                        }
                    }
                }
                .sobreProjetoImg{
                    margin-top: 57px;
                    width: 40%;
                    img{
                        width: 100%;
                        
                    }
                }
            }
        }
        //Container que engloba os cardas quem somos
        .quemSomos{
            width: 100%;
            margin-top: -2px;
            padding: 30px 26px 0px;
            background: #0A1744;
            //Conteúdo dentro do container quem somos
            .quemSomosContent{
                display: flex;
                flex-direction: column;
                .quemSomosTitle{
                    p{
                        font-size: 1.688rem;
                        color: #fff;
                    }
                } 
                //Estilização dos cards
                .quemSomosCards{
                    width: 100%;
                    margin-top: 45px;

                    .cards{
                        border: 1px solid #0a2163;
                        border-radius: 20px;
                        width: 100%;
                        height: 420px;
                        padding: 20px 18px;
                        margin-bottom: 46px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .cardsImg{
                            width: 182px;
                            height: 182px;
                            background-size: cover;
                            background-position: top;
                            border-radius: 50%;
                        }
                        .cardsText{
                            width: 276px;
                            text-align: center;
                            margin-top: 22px;
                            .cardsNome{
                                height: 33px;
                                font-size: 1.75rem;
                                color: #72EFDB;
                                font-weight: 400;
                            }
                            .cardsBios{
                                height: 90px;
                                margin: auto;
                                margin-top: 24px;
                                font-size: 1.188rem;
                                color: #D9D9D9;
                            }
                        }
                        .cardsMedia{
                            width: 140px;
                            height: 28px;
                            display: flex;
                            justify-content: space-between;

                            a{
                                i{
                                    font-size: 1.375rem;
                                    color: #72EFDB;
                                }
                            }
                        }
                    }
                }
            }
        }
        //responsivo quem somos e cards
        @media screen and (min-width: 768px) and (max-width: 1440px) {
            .quemSomos{
                width: 100%;
                margin-top: -2px;
                padding: 50px 50px 0px;
                background: #0A1744;
                padding-bottom: 40px;
                .quemSomosContent{
                    display: flex;
                    flex-direction: column;
                    .quemSomosTitle{
                        p{
                            font-size: 2.5rem;
                            color: #fff;
                        }
                    } 
                    .quemSomosCards{
                        width: 100%;
                        margin-top: 45px;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        .cards{
                            border: 1px solid #0a2163;
                            border-radius: 20px;
                            width: 45%;
                            height: 420px;
                            padding: 20px 18px;
                            margin-bottom: 46px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                        }
                    }
                }
            }
        }
        // responsivo quem somos e cards
        @media screen and (min-width: 1441px) {
            .quemSomos{
                width: 100%;
                margin-top: -2px;
                padding: 50px 100px 0px;
                background: #0A1744;
                padding-bottom: 40px;
                .quemSomosContent{
                    display: flex;
                    flex-direction: column;
                    .quemSomosTitle{
                        margin-left: 22px;
                        p{
                            font-size: 2.5rem;
                            color: #fff;
                        }
                    } 
                    .quemSomosCards{
                        width: 100%;
                        margin-top: 45px;
                        display: flex;
                        .cards{
                            flex-wrap: unset;
                            margin: 0px 22px;
                        }
                    }
                }
            }
        }
    }
}