
body {
    background: url(../../Versão\ 2/table-bg.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    font-family: 'Rubik';
    margin: 0 auto;
    display: flow-root;
}

.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
   
    width: 95%;
    margin: 0 auto;
    
}

.container h2 {
    margin: 25px 0;
    color: #72EFDB;
    font-size: 33px;
    text-align: center;
    letter-spacing: 0px;
    margin-top: 100px;
}

.list {
    background-color: #18326B;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
}

.listMenu {
    border-radius: 14px 14px 0px 0px;
    background: #0A1744;
    display: flex;
    justify-content: space-between;
    padding: 12px 0px 12px 0px;
    font-weight: bold;
}

.listMenuTop {
    display: flex;
    margin: 0 15px;
    margin-top: 10px;
    font-size: 17px;
    color: #727272;
}

.dateTime {
    display: flex;
    margin-top: 10px;
    width: 40%;
}

.listItems {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #5985b566;
    margin: 0 15px;
    font-size: 14px;
    font-weight: regular;
    color: #72EFDB;
    padding: 15px 0px;
}

.datesTimes {
    display: flex;
    width: 40%;
}

.hashtag {
    color: #72EFDB;
    font-size: 17px;
}

.hashtagName {
    color: white;
}

.listItems .listMenuTop {
    padding: 15px;
}

.date {
    color: #72EFDB;
    font-size: 17px;
}

.time {
    color: #72EFDB;
    font-size: 17px;
    margin: 0px 0px 0px 50px;
}

.dates {
    padding: 0px 0px 0px 5px;
}

.times {
    padding: 0px 40px 0px 50px;
}


/* -------------------versão desktop----------------------*/

@media (min-width: 1024px) {
    
    .container {
        width: 80%;
        margin: 0 auto;
    }

    .container h2 {
        margin: 25px 0;
        color: #72EFDB;
        font-size: 40px;
        text-align: left;
        letter-spacing: 0px;
        margin-top: 18%;
    }

    .listMenu {
        border-radius: 14px 14px 0px 0px;
        padding: 34px 0px 34px 0px;
    }

    .listBackground{
        background: #18326B 0% 0% no-repeat padding-box;
        border-radius: 14px;
        opacity: 1;
        backdrop-filter: blur(30px);
    }

    .hashtag {
        font-size: 24px;
        padding: 0px 0px 0px 65px;
    }

    .hashtagName {
        padding: 0px 0px 0px 65px;
    }

    .date {
        font-size: 24px;
    }

    .time {
        font-size: 24px;
    }

    .listItems {
        font-size: 24px;
    }
    
    .dateTime {
        display: flex;
        margin-top: 10px;
        width: 20%;
    }

    .datesTimes {
        display: flex;
        width: 20%;
    }

}

@media (min-width: 1300px) {

    .container h2 {
        margin-top: 10%;
    }
}