.header{
    width: 100vw;
    height: 82px;
    background: rgba(10, 23, 68, 0.7);
    box-shadow: 0px 3px 20px 0px rgba(9,23,70,0.8);
    -webkit-box-shadow: 0px 3px 20px 0px rgba(9,23,70,0.8);
    -moz-box-shadow: 0px 3px 20px 0px rgba(9,23,70,0.8);
    opacity: 1;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    padding: 0 16px;
    position: fixed;
    z-index: 9999;

    .headerContent{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .headerLogo{
            width: 130px;
            height: 20px;

            img{
                width: 100%;
                height: 100%;
            }
        }

        .headerButtons{
            height: 100%;
            display: flex;
            align-items: center;

            button{
                width: 106px;
                height: 30px;
                border-radius: 25px;
                border: none;
                font-size: 10px;
                font-weight: bold;
                letter-spacing: 1.5px;
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                align-items: center;
                
                img{
                    width: 9px;
                    height: 9px;
                    margin-right: 8px;
                }
            } @media screen and(max-width: 413px){
                button {
                    width: 70px;
                }
            }

            .buttonLight{
                margin-right: 13px;
                background: #72EFDB;
            }

            .buttonDark{
                background: #1E3E7B;
                color: #ffffff;
            }
        }
    }
} @media screen and(min-width: 1024px) {
    .header{
        height: 100px;
        padding: 0 60px;

        .headerContent{

            .headerLogo{
                width: 210px;
                height: 30px;
            }

            .headerButtons{

                button{
                    width: 150px;
                    height: 40px;
                    font-size: 17px;

                    img{
                        width: 13px;
                        height: 13px;
                    }
                }

                .buttonLight{
                    margin-right: 35px;
                }
            }
        }
    }
}