@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

/*Varsão mobile*/
.loginPage {
    background-color: #fff;
    display: block;
    height: 100vh;
    background-image: url(../../images/mobile-hero-bg.jpg);
    background-size: 150% 150%;
    background-position-y: -350px;
    font-family: 'Rubik', sans-serif;
}

.loginBody {
    display: flex;
    height: 100vh;
}

.formContainer {
    background-color: rgba(11, 23, 65, 0.6);
    border-radius: 14px;
    margin: auto;
    width: 340px;
    height: 460px;
    backdrop-filter: blur(30px);
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 336px;
    width: 272.39;
    margin-top: 62px;
}

.errorMessage {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #000;
    background-color: #FFF;
    color: red;
}

.formTitle {
color: #72EFDB;
font-weight: bold;
margin-bottom: 44.69px;
font-size: 34px;
cursor: default;
}

input {
    border: none;
    border-bottom: solid 1px black;
    background: none;
    border-color: #E9E9F0;
    opacity: 1;
    margin-bottom: 13.20%;
    height: 32px;
    width: 80.11%;
    font-size: 17px;
    margin-bottom: 60.19px;
    color: #fff;
}

::-webkit-input-placeholder {
    color: #FFF;
 }
 
 :-moz-placeholder {
    color: #fff;
 }
 
 ::-moz-placeholder {
    color: #FFF;
 }
 
 :-ms-input-placeholder {  
    color: #FFF;
 }

.loginForm button {
    background-color: #72EFDB;
    border: none;
    border-radius: 34px;
    color: #0B1741;
    height: 56px;
    width: 213px;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-top: 8.31px;
    cursor: pointer;
}

/*Versão para desktop*/

@media screen and (min-width: 1024px){
    .loginPage {
    background-image: url(../../images/mobile-hero-bg.jpg);
    background-size: 100% 100%;
    background-position-y: 0;
    }

    button {
        width: 39.25%;
        height: 56px;
        margin-top: 3.9%;
    }

    .formContainer {
        width: 28.8%;
        min-width: 340px;
        max-width: 553px;
        min-height: 400px;
        height: 56.3%;
        max-height: 608px;
        display: grid;
        align-items: center;
    }
    
    .loginForm {
        margin: auto;
    }

    .formTitle {
        margin-bottom: 13.56%;
    }
    
    input {
        font-size: 17px;
        margin-bottom: 8%;
    }

}
